p {
  animation-name: rainbowtext;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes rainbowtext {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow; 
    transform: translateX(200px);
    transform-origin: left, left;
    font-size: 50px
  }
  75% {
    color: green;
  }
  85% {
    color: blue
  }
  100% {
    color: purple;
  }
}